.col-1{
    background-image: url("images/noodles.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 600px;
    font-size: large;
    
}
h1{
    text-align: center;
    font-style: italic;
}
 .col-1 h3{
    color: white;
    padding: 50px 0 0 100px;
    font-style: oblique;
}
nav{
    float: right;
    padding-top: 10px;
}
 nav,ul,a{
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    padding: 10px;
}
.zone{
    color: white;
    text-align: center;
    padding: 100px;
    line-height: 40px;
}
button{
    border-radius: 20px;
    padding: 10px;
    background-color: #e97110;
    color: white;
    border: none;
}
.about{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
#img1{
    margin: 30px;
}
#img2{
    margin: 30px;
    justify-content: space-between;
}
#img2 img{
padding: 10px;
}
#us{
    line-height: 25px;
}
.menu{
    background-color: rgb(219, 240, 240);
}
.menu>button{
    margin-left: 45%;
    margin-right:55%;
    width: 150px;
    margin-top: 50px;
    margin-bottom: 10px;
}
.menu p{
    text-align: center;
}

.checked{
    color: orange;
}
#menu-1{
    display: flex;
    padding: 5px;
    justify-content: space-around;

}
#menu-2{
    display: flex;
    padding: 5px;
    justify-content: space-around;
}
span{
    background: #E47435;
    color: white;
    
}
.services,#Serve{
    display: flex;
    justify-content: space-around;
}
h5 ,h4{
    font-size: large;
    font-weight: bold;
    font-style: italic;
}
.Why-us p{
    text-align: center;
}
.line{
    border: 1px solid #E47435;
    width: 100px;
    margin-left: 600px;
    margin-bottom: 30px;
    
}
.Our-customers{
    background-image: url("images/potato.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}
.Our-customers h1 p{
    color: white;
}
.cust{
    display: flex;
    justify-content: space-around;
}
#customers,p{
text-align: center;
}
#customers{
    background-color: white;
    color: black;
    width: 200px;
   height: 300px;
    margin: 30px;
    padding: 30px;
}

    .form{
        margin-left: 100px;
        width: 100%;
        height: auto;
    }
    
     form #name, #email, #message{
         width:830px ;
         height: 30px;
         margin: 10px;
         background-color: rgb(240, 240, 240);
         border: none;
     }
     form #message{
        width:830px ;
        height: 80px;
        
     }
    form #pnumber, #NoPersons, #date, #time{
        width: 400px;
        height: 30px;
        margin: 10px;
        background-color: rgb(240, 240, 240);
        border: none;
    }
    form #btn{
        text-align: center;
    }
    form button{
        background-color:#E47435;
        border: none;
        border-radius: 20px;
        color: white;
        height: 40px;
        margin-bottom: 40px;
    }
.price{
    background-image: url("images/burger.jpeg");
    background-size: 100% 100%;
    display: flex;
    height: 300px;
    justify-content: space-around;
    color: white;
}
.price p{
    padding: 80px;
    font-size: large;
    /*text-decoration: underline 2px solid #E47435;*/
}
.contact{
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: rgb(26, 21, 21);
    color: white;
    line-height: 30px;
}
.contact h5{
    text-align: center;
}
.sub #mail,#subcr{
    height: 20px;
    border: none;
}
.sub #mail{
     background-color: rgb(105, 103, 103);
    color: white;
    
}
.sub ::placeholder{
    color: white;
}
.sub #subcr{
    background: #E47435;
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(39, 36, 36);
    color: white;
}
footer .f-2 ,.f-1{
 padding: 30px;

}
.f-2{
    padding: 30px;
    
}
.f-1 em{
    text-decoration: underline;
}