.col-1{
    background-image: url("images/hakka-noodles-recipe.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 600px;
    
}
h1{
    text-align: center;
}
 .col-1>h3{
    color: white;
    padding: 50px 0 0 100px;
}
nav{
    float: right;
}
 nav,ul,a{
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    padding: 10px;
}
.zone{
    color: white;
    text-align: center;
    padding: 100px;
    line-height: 40px;
}
button{
    border-radius: 20px;
    padding: 10px;
    background-color: #e97110;
    color: white;
    border: none;
}
.about{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
#img1{
    margin: 30px;
}
#img2{
    margin: 30px;
    justify-content: space-between;
}
#img2 img{
padding: 10px;
}
#us{
    line-height: 25px;
}
.menu{
    background-color: rgb(219, 240, 240);
}
.menu>button{
    margin-left: 45%;
    margin-right:55%;
    width: 150px;
    margin-top: 50px;
}
.menu p{
    text-align: center;
}
.checked{
    color: orange;
}
#menu-1{
    display: flex;
    padding: 5px;
    justify-content: space-around;

}
#menu-2{
    display: flex;
    padding: 5px;
    justify-content: space-around;
}
.services,#Serve{
    display: flex;
    justify-content: space-around;
}
h5{
    font-size: large;
    font-weight: bold;
}
.Why-us p{
    text-align: center;
}
.Our-customers{
    background-image: url("images/potato.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.Our-customers h1 p{
    color: white;
}
.cust{
    display: flex;
    justify-content: space-around;
}
#customers,p{
text-align: center;
}
#customers{
    background-color: white;
    color: black;
    width: 200px;
   height: 300px;
    margin: 30px;
    padding: 30px;
}

    .form{
        margin-left: 100px;
        width: 100%;
        height: auto;
    }
    
     form #name, #email, #message{
         width:830px ;
         height: 30px;
         margin: 10px;
     }
     form #message{
        width:830px ;
        height: 80px;
     }
    form #pnumber, #NoPersons, #date, #time{
        width: 400px;
        height: 30px;
        margin: 10px;
    }
    form #btn{
        text-align: center;
    }
    form button{
        background-color:#E47435;
        border: none;
        border-radius: 20px;
        color: white;
        height: 40px;
        margin-bottom: 40px;
    }
}
